.about-container{
  width: 90%;
  padding: 2rem 1rem ;
  box-sizing: border-box;
  background: var(--pink);
  color: var(--white);
  margin: 0 auto;
}

.about-heading{
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.about-paragraph{
  letter-spacing: 1px;
}

.tag-line{
  display: block;
  margin: 1rem;
  text-align: center;
}

<<<<<<< HEAD
=======
@media screen and (min-width: 420px){
  .about-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

>>>>>>> 504d1b8a8825d8daa1cdd32081f6bf2acb3f3a10
@media screen and (min-width: 550px){
  .about-container{
    border: 1rem groove var(--navy);
    width: 80%;
<<<<<<< HEAD
=======
    position: absolute;
>>>>>>> 504d1b8a8825d8daa1cdd32081f6bf2acb3f3a10
  }

  .tag-line{
    font-variant: small-caps;
  }
}

@media screen and (min-width: 700px){
  .about-paragraph{
    font-size: 1.25rem;
    word-spacing: 4px;
  }

  .about-heading{
    font-size: 2rem;
  }
}

@media screen and (min-width: 900px){
  .about-container{
    width: 75%;
  }

  .about-paragraph{
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1000px) {
  .about-container{
    width: 65%;
  }
}

@media screen and (min-width: 1400px){
  .about-container{
    width: 50%;
  }

  .about-heading{
    font-size: 2.5rem; 
  }

  .about-paragraph{
    font-size: 1.5rem;
  }
}