.recipe-card{
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--pink);
}

.recipe-img{
  width: 100%;
}

.recipe-container a{
  text-decoration: none;
}

.recipe-title{
  color: var(--navy);
  font-variant: small-caps;
  padding: 2rem;
}