a .recipe-card{
  width: 15rem;
  height: 18rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(238, 37, 96, .1);
  text-decoration: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: all .75s ease-in-out;
  box-sizing: border-box;
}

.recipe-card:hover{
  box-shadow: 2px 2px 3px rgba(238, 37, 96, .3);
}

.recipe-card:hover .recipe-img{
  position: relative;
  transform: scale(1.5);
}

a {
  text-decoration: none;
}

.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.recipe-img{
  width: 95%;
  height: 95%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: inline-block;
  position: relative;
}

.title-container{
  height: 4rem;
  padding: 1rem;
  box-sizing: border-box;
}

.recipe-title{
  color: var(--navy);
  font-variant: small-caps;
}