.recipe-container{
  display: grid;
  grid-template-columns: 12fr;
  grid-gap: 1rem;
  box-sizing: border-box;
  padding: 1rem;
}

@media screen and (min-width: 700px) {
  .recipe-container{
    grid-template-rows: repeat(6, 2fr);
    grid-template-columns: repeat(2, 6fr);
  }
}

@media screen and (min-width: 1000px) {
  .recipe-container{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1400px) {
  .recipe-container{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}