@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&family=Lobster&display=swap');

a .recipe-card{
  width: 15rem;
  height: 18rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(238, 37, 96, .1);
  text-decoration: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: all .5s ease-in-out;
  padding: .5rem;
}

.recipe-card:hover{
  box-shadow: 2px 2px 3px rgba(238, 37, 96, .3);
}

.recipe-card:hover .recipe-img{
  transform: scale(2);
}

a {
  text-decoration: none;
}

.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.recipe-img{
  width: 100%;
  height: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: inline-block;
}

.missing-img {
  font-family: 'Lobster', cursive;
  text-shadow: 1px 1px 2px var(--green);
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  color: rgba(8, 24, 43, .4);
}

.title-container{
  height: 4rem;
  padding: 1rem;
  box-sizing: border-box;
}

.recipe-title{
  color: var(--navy);
  font-variant: small-caps;
}