.btn-back{
  width: 80%;
  padding: .5rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--white);
  background: var(--pink);
  border: 1px solid var(--pink);
  border-radius: 5px;
  margin: .5rem auto;
  box-shadow: 1px 1px 1px #959595;
  cursor: pointer;
  display: block;
}

.sr-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  margin: 2rem auto;
  box-sizing: border-box;
}

.sr-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sr-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info{
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  font-variant: small-caps;
}

.sr-title{
  font-variant: small-caps;
  color: var(--navy);
  font-size: 1.25rem;
}

.sr-nutrition{
  display: none;
}
  
.sr-img{
  box-shadow: 2px 2px 2px 1px #888;
  height: auto;
  width: 25rem;
  max-width: 95%;
  margin: 1rem auto;
}

.types-container{
  display: none;
}

.sr-details{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: var(--navy);
}

.sr-ingredients{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  list-style: none;
  flex: 0 0 40%;
  align-items: center;
  padding-bottom: 2rem;
}

.sr-ingredients>ul{
  list-style: none;
}

.sr-ingredients>ul>li{
  padding: .25rem;
}

.sr-instructions{
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
  align-items: center;
  padding: .5rem .25rem;
  letter-spacing: 1px;
  word-spacing: 4px;
}

@media screen and (min-width: 600px){
  .btn-back{
    width: 40%;
    margin: .5rem;
  }

  .sr-container{
    width: 90%;
  }

  .sr-title{
    font-size: 1.5rem;
  }

  .types-container{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 90%;
    height: 6rem;
    justify-content: space-evenly;
  }
  
  .type-content{
    display: flex;
    flex-direction: row;
  }
  
  .type-heading{
    font-weight: bold;
    width: 5rem;
  }

  .type-list{
    display: flex;
    justify-content: space-around;
  }

  .type{
    margin-right: .5rem;
  }
  
  .type:not(:last-of-type)::after{
    content: ",";
  }

  .sr-nutrition{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: rgba(69, 217, 253, .5);
    border: 2px solid var(--navy); 
    margin: inherit auto;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 70%;
  }

  .nutritional-info{
    display: flex;
    border: 2px solid var(--navy);
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: .5rem;
  }

  .info{
    width: 70%;
    padding: .5rem 0;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }
  
  .instruction-paragraph{
    white-space: pre-wrap;
  }
}

@media screen and (min-width: 700px){
  .sr-details{
    width: 80%;
    margin: 0 auto;
  }

}

@media screen and (min-width: 800px){
  .sr-container{
    width: 90%;
  }

  .btn-back{
    width: 30%;
    margin-left: auto;
  }
}

@media screen and (min-width: 1000px) {
  .btn-back:hover{
    box-shadow: 1px 1px 1px var(--navy);
  }

  .sr-container{
    width: 95%;
    box-shadow: 2px 2px 2px 2px rgb(175,175,175);
    transition: all .4s ease-in-out;
  }

  .sr-header{
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .sr-info{
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .sr-title{
    flex: 0 0 100%;
  }

  .info{
    justify-content: flex-start;
    margin: inherit;
  }

  .info > span{
    flex: 0 0 50%;
  }

  .sr-nutrition{
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .nutritional-info{
    flex-direction: column;
  }

  .nutrient.nutrient-amount:first-of-type{
    display:flex;
    flex-direction: column;
  }

  .sr-details{
    flex-direction: row;
    width: 100%;
  }

  .sr-container:hover{
    box-shadow: 3px 3px 3px 3px rgb(175,175,175);
  }
}

@media screen and (min-width: 1200px){
  .btn-back{
    width: 20%;
  }

  .sr-container{
    width: 85%;
  }

  .nutritional-info{ 
    flex: 0 0 10%;
  }
}

@media screen and (min-width: 1400px) {
  .sr-container{
    width: 60%;
  }
}

