:root {
  --pink: #ee2560;
  --navy: #08182b;
  --white: #f4f4f4;
  --green: #45d9fd;
}

* {
  margin: 0;
  padding: 0;
}

.content-container{
  display: grid;
  grid-template-columns: 12fr;
  box-sizing: border-box;
  padding-bottom: 2rem;
}


@media screen and (min-width: 1000px) {
  .content-container{
    grid-template-columns: 4fr 8fr;
  }  
}

@media screen and (min-width: 1200px) {
  .content-container{
    grid-template-columns: 3fr 9fr;
  }  
}

@media screen and (min-width: 1400px) {
  .content-container{
    grid-template-columns: 4fr 8fr;
  }  
}

@media screen and (min-width: 1600px) {
  .content-container{
    grid-template-columns: 3fr 9fr;
  }  
}
